repos:
- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black
- repo: https://github.com/mwouts/jupytext
  rev: v1.14.0
  hooks:
  - id: jupytext
    args: [--sync]
    language: python
