repos:
- repo: https://github.com/psf/black
  rev: 22.1.0
  hooks:
  - id: black
- repo: https://github.com/mwouts/jupytext
  rev: v1.13.7
  hooks:
  - id: jupytext
    args: [--sync]
    language: python
