name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-latest]
        python-version: [3.7, 3.9]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install python dependecies
        run: |
          python -m pip install --upgrade pip
          pip install jaxlib pytest
      - name: Install pysages
        run: pip install .
      - name: Run tests
        run: pytest
  docker:
  steps:
    - uses: actions/checkout@v2
    - uses: docker/build-push-action@v2
    with:
	tags: pysages:latest
	push: false
    - uses: addnab/docker-run-action@v3
    with:
	image: pysages:latest
	run: |
      	echo "Running umbrella test"
      	cd PySAGES/examples/umbrella_sampling/ && python3 gen_gsd.py && python3 umbrella.py && python3 analyze_gsd.py umbrella.gsd"
